<html>
{{ "<!-- Header -->" | safeHTML }}
{{ partial "header.html" . }}

<body>

{{ "<!-- Wrapper -->" | safeHTML }}
<div id="wrapper">

    {{ partial "nav.html" . }}

    {{ "<!-- Main -->" | safeHTML }}
    <div id="main">

        <section id="banner" class="style2">
            <div class="inner">
                <header class="major">
                    <h1>{{ .Title }}</h1>
                </header>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </section>

        <section id="two" class="spotlights" style="padding-top:1.5em;">
            {{ range .Pages }}
            <section>
                <div class="image" style="padding: 0% 10%">
                    <img src="{{ .Site.Params.baseURL }}/img/experiences/{{ .Params.logo }}" alt=""
                         data-position="center" style=""/>
                </div>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <p>{{ .Params.catchy }}</p>
                            <p>{{ .Params.subtitle }}</p>
                        </header>
                        <div>
                            <p>{{.Params.summary}}</p>
                            <p> {{ .Params.when }} <br/>
                                {{ .Params.addr0 }} <br/>
                                {{ .Params.city }}
                            </p>
                        </div>
                        <ul class="actions">
                            <li><a href="{{ .Title }}" class="button">Details</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            {{ end }}
        </section>
    </div>

    {{ "<!-- Footer -->" | safeHTML}}
    {{ if .Site.Params.footer.enable }}
    {{ partial "footer.html" . }}
    {{ end }}

</div>

{{ "<!-- Scripts -->" | safeHTML}}
{{ partial "js.html" . }}

</body>
</html>
